@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
<<<<<<< HEAD
  --font-rebound: var(--font-rebound);
  --color-light: #eeeeec;
=======
>>>>>>> 79b12f07b7bd5ef3203ce501b5035de0b03ff341
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
